In [3]:
import pandas as pd
import numpy as np

d = {"name_1":["abc","abc","abc","abc","abc","abc"],
     "address_1_1":["avasdas","avasdas","avasdas","avasdas","avasdas","avasdas",],
     "mortgage_address":["sdfsdfc","sdfsdfc","sdfsdfc","sdfsdfc","sdfsdfc","sdfsdfc",],
     "name_2":["abc","abc","abc","abc",np.nan,"abc"],
     "address_2_1":["avasdas","avasdas","avasdas","avasdas",np.nan,"avasdas",],
     }

df = pd.DataFrame(data=d)

df['address_2_2'] = np.nan
for i in range(len(df['name_2'])):
    if df.loc[i,'name_2'] != np.nan:
        df.loc[i, 'address_2_2'] = df.loc[i,'mortgage_address']
df

In [6]:
mask = df['name_2'].notna()
df.loc[mask, 'mortgage_address']

0    sdfsdfc
1    sdfsdfc
2    sdfsdfc
3    sdfsdfc
5    sdfsdfc
Name: mortgage_address, dtype: object

In [7]:
df['mortgage_address'].where(df['name_2'].notna(), np.nan)

0    sdfsdfc
1    sdfsdfc
2    sdfsdfc
3    sdfsdfc
4        NaN
5    sdfsdfc
Name: mortgage_address, dtype: object

In [4]:
df['address_2_2'] = np.nan
for i in range(len(df['name_2'])):
    if df.loc[i,'name_2'] != np.nan:
        df.loc[i, 'address_2_2'] = df.loc[i,'mortgage_address']
df

  name_1 address_1 mortgage_address name_2 address_2 address_2_2
0    abc   avasdas          sdfsdfc    abc   avasdas     sdfsdfc
1    abc   avasdas          sdfsdfc    abc   avasdas     sdfsdfc
2    abc   avasdas          sdfsdfc    abc   avasdas     sdfsdfc
3    abc   avasdas          sdfsdfc    abc   avasdas     sdfsdfc
4    abc   avasdas          sdfsdfc    NaN       NaN     sdfsdfc
5    abc   avasdas          sdfsdfc    abc   avasdas     sdfsdfc