In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lmbmo\appdata\local\programs\python\python310\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\lmbmo\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.19.6)

[notice] A new release of pip available: 22.2.2 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to mysql

In [13]:
import mysql.connector as connection

try:
    # mydb = connection.connect(host="localhost", user="root", passwd = "WordPass@SQL", user_pure = True)
    mydb = connection.connect(host="localhost", user="root", passwd = "WordPass@SQL")
    # check if connection is eastablished
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

### Show database

In [31]:
conn = connection.connect(host="localhost", user="root", passwd = "WordPass@SQL")
cur = conn.cursor()

In [32]:
cur.execute("show databases")

In [28]:
cur.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',),
 ('yums',)]

In [33]:
res = cur.fetchall()

In [34]:
res[0]

('information_schema',)

In [38]:
for i in res:
    print(i[0])

information_schema
mysql
performance_schema
sakila
sys
world
yums

### Create database

In [44]:
conn = connection.connect(host="localhost", user="root", passwd = "WordPass@SQL")
cur = conn.cursor()

In [ ]:
cur.execute("create database test123")

In [46]:
cur.execute("show databases")
res = cur.fetchall()
for i in res:
    print(i[0])

information_schema
mysql
performance_schema
sakila
sys
test123
world
yums

### Creating a table

In [1]:
import mysql.connector as connection

try:
    # mydb = connection.connect(host="localhost", user="root", passwd = "WordPass@SQL", user_pure = True)
    mydb = connection.connect(host="localhost", user="root", passwd = "WordPass@SQL")
    # check if connection is eastablished
    
    query = "Create database Student"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database created")

except Exception as e:
    mydb.close()
    print(str(e))

Database created

In [5]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="WordPass@SQL")
    print(mydb.is_connected())

    
    query = "CREATE TABLE StudentDetails (StudentId INT(10) AUTO_INCREMENT PRIMARY KEY, FirstName VARCHAR(60),"\
        "LastName VARCHAR(60), RegistrationDate DATE, Class VARCHAR(20), Section VARCHAR(10))"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table created")

except Exception as e:
    mydb.close()
    print(str(e))

True
Table created

### Inserting into table

In [6]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="WordPass@SQL")
    print(mydb.is_connected())
    
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Values inserted into the table!!

In [15]:
mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="WordPass@SQL")
print(mydb.is_connected())
cursor = mydb.cursor()

True

In [16]:
query = "INSERT INTO StudentDetails VALUES ('4564','Budha','Allknowing','2000-01-01','Thirteen','B')"
cursor.execute(query)
mydb.commit()
mydb.close()

Inserting multiple items

In [20]:
mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="WordPass@SQL")
print(mydb.is_connected())
cur = mydb.cursor()

cur.execute("insert into StudentDetails values(4567,'Loyumba' , 'Moirangthem', '2022-03-11', 'Thirtythree', 'A')")
cur.execute("insert into StudentDetails values(4568,'Prabhakar', 'Laishram', '2018-11-14', 'Thirtyfour', 'A')")
cur.execute("insert into StudentDetails values(4569,'Birla', 'Laimayum', '2021-07-15', 'Thirtfive', 'A')")
cur.execute("insert into StudentDetails values(4570,'Sonica', 'Thiyam', '2011-05-09', 'Thirtysix', 'A')")
cur.execute("insert into StudentDetails values(4571,'Irabanta', 'Nongmeikappam', '2005-06-05', 'Thirtyseven', 'A')")
cur.execute("insert into StudentDetails values(4572,'Bhaskar' , 'Laishram', '2007-12-25', 'Twentythree', 'B')")
cur.execute("insert into StudentDetails values(4573,'Udit', 'Chhetri', '2020-03-10', 'Twentyfour', 'B')")
cur.execute("insert into StudentDetails values(4574,'Memthoi', 'Thiyam', '2014-04-05', 'Twentyfive', 'B')")
cur.execute("insert into StudentDetails values(4575,'Sorobina', 'Laishram', '2008-08-18', 'Twentysix', 'B')")
cur.execute("insert into StudentDetails values(4576,'Tom', 'Thounaojam', '2019-09-26', 'Twentyseven', 'B')")
cur.execute("insert into StudentDetails values(4578,'Totoro', 'Totoro', '1996-08-31', 'Twentyeight', 'B')")

mydb.commit()
mydb.close()

True

### Fetching data from a table

In [21]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="WordPass@SQL")
    print(mydb.is_connected())
    
    query = "SELECT * FROM StudentDetails"
    cursor = mydb.cursor() 
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.commit()
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(4564, 'Budha', 'Allknowing', datetime.date(2000, 1, 1), 'Thirteen', 'B')
(4567, 'Loyumba', 'Moirangthem', datetime.date(2022, 3, 11), 'Thirtythree', 'A')
(4568, 'Prabhakar', 'Laishram', datetime.date(2018, 11, 14), 'Thirtyfour', 'A')
(4569, 'Birla', 'Laimayum', datetime.date(2021, 7, 15), 'Thirtfive', 'A')
(4570, 'Sonica', 'Thiyam', datetime.date(2011, 5, 9), 'Thirtysix', 'A')
(4571, 'Irabanta', 'Nongmeikappam', datetime.date(2005, 6, 5), 'Thirtyseven', 'A')
(4572, 'Bhaskar', 'Laishram', datetime.date(2007, 12, 25), 'Twentythree', 'B')
(4573, 'Udit', 'Chhetri', datetime.date(2020, 3, 10), 'Twentyfour', 'B')
(4574, 'Memthoi', 'Thiyam', datetime.date(2014, 4, 5), 'Twentyfive', 'B')
(4575, 'Sorobina', 'Laishram', datetime.date(2008, 8, 18), 'Twentysix', 'B')
(4576, 'Tom', 'Thounaojam', datetime.date(2019, 9, 26), 'Twentyseven', 'B')
(4578, 'Totoro', 'Totoro', datetime.date(1996, 8, 31), 'Twentyeight', 'B')